<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wynsean.freshie" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/freshieicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FreshFoodActivity"
            android:label="@string/title_activity_fresh_food" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".FreshFruitActivity"
            android:label="@string/title_activity_fresh_fruit" >
        </activity>
        <activity
            android:name=".FrozenFoodActivity"
            android:label="@string/title_activity_frozen_food"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".FoodCupboardActivity" >
        </activity>
        <activity android:name=".DrinksActivity" >
        </activity>
        <activity android:name=".HealthandBeautyActivity" >
        </activity>
        <activity android:name=".HouseholdActivity" >
        </activity>
        <activity
            android:name=".FreshFoodPurchaseActivity"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity
            android:name=".FoodCupboardPurchaseActivity"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity
            android:name=".FrozenFoodPurchaseActivity"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity
            android:name=".DrinksPurchaseActivity"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity android:name=".ReceiptActivity" >
        </activity>
    </application>

</manifest>
